body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
  background-color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 21px;
}

.container {
  position: relative;  /*  чтобы сработал абсолют на странице hotels */
  min-width: 768px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  outline: 3px solid rgb(210,240,120);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ----------------------------------------------------------------------------------------------------------- */

.page-header {
}

.page-header-index {
  min-height: 557px;
  background: url("../img/background.jpg") no-repeat 50% 0;
}

.page-header-inner {
}

.main-menu-container {
  background-color: white;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  float: left;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-menu li:nth-child(2) {
  margin-right: 20%;
}

/*-------------------------------------------*/

.main-menu-item {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*-------------------------------------------*/

.sedona-mini-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

/*-------------------------------------------*/

.welcome-text {
  min-height: 435px;
  background: url("../img/welcome.png") no-repeat 50% 0;
}

/* ----------------------------------------------------------------------------------------------------------- */

.title-content {
  width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.title-content p {
  margin-top: 27px;
  margin-bottom: 51px;
}


/* ----------------------------------------------------------------------------------------------------------- */

.reason-row {
  display: table;
  width:100%;
  text-align: center;
}

.reason {
  display: table-cell;
  font-size: 14px;
  vertical-align: top;
  line-height: 21px;
}

.reason-blue {
  color: white;
  background-color: #81b3d2;
  width: 33.333333%;
}

.reason-blue h2 {
  color: white;
  margin-top: 54px;
  margin-bottom: 24px;
}

.reason-blue p {
  margin-top: 21px;
  margin-bottom: 52px;
}

.reason-image {
  width: 66.666666%;
}

.reason-image-town {
  background: url("../img/town.jpg") no-repeat 50% 50%;
}

.reason-image-devil-bridge {
  background: url("../img/devil-bridge.jpg") no-repeat 50% 50%;
}

.reason-icon {
  width: 33.333333%;
}

.reason-icon h2 {
  margin-top: 161px;
}

.reason-icon p {
  margin-top: 24px;
  margin-bottom: 82px;
}

.reason-icon-house {
  background: url("../img/icon-house.png") no-repeat 50% 60px;
}

.reason-icon-hamburger {
  background: url("../img/icon-hamburger.png") no-repeat 50% 62px;
}

.reason-icon-souvenir {
  background: url("../img/icon-souvenir.png") no-repeat 50% 56px;
}

.reason-row-gray {
  background-color: #eeeeee;
}

.reason-gray {
  width: 33.333333%;
}

.reason-gray h2 {
  margin-top: 47px;
  margin-bottom: 24px;
}

.reason-gray p {
  margin-top: 21px;
  margin-bottom: 59px;
}

/* ----------------------------------------------------------------------------------------------------------- */

.interactive-search {
  text-align: center;
  font-size: 14px;
  padding-top: 57px;
}

.interactive-search h2 {
  font-size: 30px;
  margin: 0;
}

.interactive-search p {
  margin: 0;
  margin-top: 30px;
}


.btn {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #766357;
  padding: 0;
}

.btn-search-housing {
  background-color: #766357;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 45px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------- */

.bg-map-and-search-form {
  min-height: 593px;
  background: url("../img/map.jpg") no-repeat 50% 0;
  margin: 0;
  position: relative;
}

/* ----------------------------------------------------------------------------------------------------------- */

.search-form {
  display: block;
  width: 513px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 0;
  padding-bottom: 55px;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
}

.search-criterion label,
.search-criterion input,
.search-criterion button {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.search-criterion {
  margin-bottom: 29px;
}

.search-criterion:nth-child(3) {
  margin-top: 30px;
  margin-bottom: 54px;
}

.search-criterion label {
  width: 112px;
}

.search-criterion input {
  width: 331px;
  height: 38px;
  padding: 0;
  padding-left: 15px;
  border: 0;
  background-color: #f2f2f2;
}

.search-criterion-visitors {
  display: inline-block;
}

.search-criterion-visitors input {
  padding-right: 15px;
  text-align: center;
  width: 14px;
}

.search-criterion-visitors .btn {
  width: 35px;
  height: 38px;
  border: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.search-criterion-visitors:first-child {
  margin-right: 53px;
}

.search-criterion-visitors label[for="children-visitors"] {
  width: 65px;
}

.search-form input[type="submit"] {
  width: 458px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------- */

.footer-container {
  background-color: rgba(255,255,255,0.9);
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 120px;
}

.footer-section {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  padding-left: 1.666%;
  padding-right: 1.666%;
  text-align: center;
}

.footer-hashtag-section {
  left: 16.666%;
  font-size: 21px;
  font-weight: bold;
}

.footer-social-section {
  left: 50%;
}

.footer-webstudio-section {
  left: 83.333%;
}

.footer-webstudio-section span,
.footer-webstudio-section img {
  vertical-align: middle;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  vertical-align: middle;
  background-color: #81b3d2;
  margin: 0;
  margin-right: 6px;
  font-size: 0;
}

.social-btn:last-child {
  margin-right: 0;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

/*  Стили для внутренней страницы  */

.hotels-search-form {
  min-height: 217px;
  padding: 0;
  margin: 0;
  color: white;
  background: #668eb5 url("../img/filter-background.jpg") no-repeat 50% -56px;
}

.hotels-search-criterion {
  padding: 0;
  margin: 0;
  padding-top:27px;
  outline: 1px solid yellow;
}

.hotels-search-criterion h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.hotels-search-item {
  padding: 0;
  margin: 0;
  margin-top: 24px;
  font-size: 14px;
  line-height: 21px;
  outline: 1px solid green;
}

.hotels-search-item input,
.hotels-search-item label {
  vertical-align: middle;
}

.infrastructure-criterion {
  float: left;
  margin-left: 6%;
}

.housing-type-criterion {
  float: left;
  margin-left: 10%;
}

.price-criterion {
  float: right;
  margin-right: 6%;
  padding-right: 0;
}

/* -------------------------------------------------------------------------------- */

.search-results {
  display: table;
  position: relative;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  width: 88%;  /* = 100% - 6% -6% */
}

.search-count {
  display: table-cell;
  margin: 0;
  padding: 30px 0;
  width: 165px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  vertical-align: middle;
}

.sort-type {
  display: table-cell;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 28px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sort-type ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  margin-left: 36px;
}

.sort-type li {
  display: inline;
  margin-right: 29px;
}

.sort-type a {
  text-decoration: none;
}

.sort-direction {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translate(0,-50%);
  outline: 1px dotted red;
}

/* -------------------------------------------------------------------------------- */

.housing {
  display: table;
  position: relative;
  padding: 0 6%;
  color: black;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  width: 88%;  /* = 100% - 6% -6% */
  min-height: 150px;
}

.housing-image {
  display: table-cell;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 165px;
}

.housing-image img {
  vertical-align: middle;
}

.housing-details {
  display: table-cell;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  vertical-align: top;
  color: black;
}

.housing-rating {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translate(0,-50%);
  outline: 1px dotted red;
}

.housing-details h1 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.housing-type-and-price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-top: 6px;
  margin-bottom: 14px;
}

.housing-type,
.housing-price {
  display: inline-block;
  vertical-align: middle;
}

.btn-hotel-details,
.btn-make-reservation {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  background-color: #766357;
  cursor: pointer;
  padding: 3px 17px;
}

.btn-hotel-details {
  background-color: #81b3d2;
  margin-right: 2px;
}

/* -------------------------------------------------------------------------------- */

.footer-white-space {
  position: relative;
  min-height: 120px;
}
