body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 21px;
}
