body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 26px;
  background-color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 21px;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  outline: 2px dashed green;
}

/* ----------------------------------------------------------------------------------------------------------- */

.page-header {
  font-size: 0;  /* Внутри инлайн-блоки, поэтому обнуляем размер шрифта */
}

.page-header-index {
  min-height: 557px;
  background: url("../img/background.jpg") no-repeat 50% 0;
}

.page-header-hotels {
}

.main-menu-container {
  padding-left:6%;
  padding-right:6%;
  background-color: white;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  text-align: right;
  /* Это влияет на все элементы меню, т.к. они inline-block.
     Т.к. если зафлоатить вправо только последние 2 , то их порядок поменяется.
     Поэтому делаем все инлайн-блоками, а первые два флоатим влево
  */
}

.main-menu li{
  display: inline-block;
  width: 20%;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
}

.main-menu li:nth-child(-n+2) {
  float: left;
}

/*-------------------------------------------*/
/* Выравнивание внутри блоков - пунктов меню */

.main-menu li:first-child {
  text-align: left;
}

.main-menu li:nth-child(2),
.main-menu li:nth-child(3) {
  text-align: center;
}

.main-menu li:last-child {
  text-align: right;
}

/*-------------------------------------------*/

.main-menu-item {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*-------------------------------------------*/

.sedona-mini-logo {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*-------------------------------------------*/

.welcome-text {
  min-height: 435px;
  background: url("../img/welcome.png") no-repeat 50% 0;
}

/* ----------------------------------------------------------------------------------------------------------- */

.title-content {
  width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------- */

.reason-row {
  font-size: 0;  /* потому что внутри - инлайн-блоки */
}

.reason {
  display: inline-block;
  font-size: 14px;
  height: 256px;
  vertical-align: top;
}

.reason-blue {
  color: white;
  background-color: #81b3d2;
  width: 33.333333%;
}

.reason-blue h2 {
  color: white;
}

.reason-image {
  width: 66.666666%;
}

.reason-image-town {
  background: url("../img/town.jpg") no-repeat 50% 50%;
}

.reason-image-devil-bridge {
  background: url("../img/devil-bridge.jpg") no-repeat 50% 50%;
}

.reason-icon {
  width: 33.333333%;
  height: 330px;
}

.reason-row-gray {
  background-color: #eeeeee;
}

.reason-gray {
  width: 33.333333%;
}

/* ----------------------------------------------------------------------------------------------------------- */

.interactive-search {
  text-align: center;
  font-size: 14px;
  padding-top: 57px;
}

.interactive-search h2{
  font-size: 30px;
  margin: 0;
}

.interactive-search p{
  margin: 0;
  margin-top: 30px;
}


.btn {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: white;
  padding: 0;
}

.btn-brown {
  background-color: #766357;
  width: 568px;
  height: 86px;
  line-height: 86px;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 45px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------- */

.bg-map-and-search-form {
  min-height: 593px;
  background: url("../img/map.jpg") no-repeat 50% 0;
  margin: 0;
  position: relative;
}

/* ----------------------------------------------------------------------------------------------------------- */

.search-form {
  display: block;
  width: 513px;
  padding-top: 59px;
  padding-left: 55px;
  padding-right: 0;
  padding-bottom: 55px;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
}

.search-criterion * {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-criterion {
  margin-bottom: 33px;
}

.search-criterion label {
  width: 112px;
}

.search-criterion input {
  width: 342px;
}

.search-criterion-visitors input {
  width: 37px;
}

.search-criterion-visitors .btn {
  width: 36px;
}

.search-criterion-visitors label[for="children-visitors"] {
  margin-left: 55px;
  width: 65px;
}

.search-form input[type="submit"] {
  width: 458px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 22px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------- */

footer {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;  /* потому что внутри - инлайн-блоки */
}

footer div {
  display: inline-block;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  width: 33.333333%;
  text-align: center;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  line-height: 120px;
  vertical-align: middle;
  background-color: #81b3d2;
  margin: 0;
  margin-right: 6px;
}

.web-studio {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
}

.web-studio a {
  vertical-align: -15px;
}
